@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);
/**
 * Base Elements
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a {
    font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    line-height: 1.5;
}


/**
 * Content Area
 */

.body {
    padding: 15px;
}
.margin-top {
	margin-top: 0px;
}
