{{#if responseMessage}}
  <div class="alert alert-success">{{responseMessage}}</div>
{{/if}}
<div class="row">
  <div class="col-xs-9">
    <h2 class="margin-top">Rentals list</h2>
  </div>
  <div class="col-xs-3">
    {{#link-to 'rentals.new' class='pull-right btn btn-primary'}} New Rental {{/link-to}}
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Daily Rate</th>
      <th>Action</th>
      <th>Book</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |item|}}
    <tr>
      <td>{{item.name}}</td>
      <td>{{item.daily_rate}}</td>
      <td>
        {{#link-to 'rentals.edit' item.id class='btn'}}<span class="glyphicon glyphicon-edit"></span>{{/link-to}}
        <a href="" {{action 'deleteRental' item }} class='btn'><span class="glyphicon glyphicon-trash"></span></a>
      </td>
      <td>{{#link-to 'bookings.new' item.id class="btn btn-default"}}Book{{/link-to}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>